@{
    ViewData["Title"] = "Продажи";
}

<html>
    <body>
        <b>Продажи</b>
        <table class="table table-dark table-striped table-hover">
            <thead>
                <tr> 
                    <td>Фамилия сотрудника</td>
                    <td>Имя сотрудника</td>
                    <td>Отчество сотрудника</td>
                    <td>Фамилия покупателя</td>
                    <td>Имя покупателя</td>
                    <td>Отчество покупателя</td>
                </tr>
            </thead>
            <tbody>
                @foreach(var fio in ViewBag.Dis)
                {
                    <tr>

                        <td>@fio.FEmp </td>
                        <td>@fio.IEmp</td>
                        <td>@fio.OEmp</td>
                        <td>@fio.FB </td>
                        <td>@fio.IB</td>
                        <td>@fio.OB</td>
                    </tr>
                }
            </tbody>
        </table>        
    </body>
</html>